OPTICAL_G30_USER=changeme
OPTICAL_G30_PASSWORD=changeme
OPTICAL_G42_USER=changeme
OPTICAL_G42_PASSWORD=changeme
OPTICAL_FLEXILS_USER=changeme
OPTICAL_FLEXILS_PASSWORD=changeme
OPTICAL_G30_VERIFY=true
OPTICAL_G42_VERIFY=true
OPTICAL_TNMS_VERIFY=true
OPTICAL_FLEXILS_VERIFY_HOST_KEY=true
